%contendor{
    display: grid;
}
.imagenresponsivaStaCieJak{
    width: 30%;
    height: 200px;
    display: block;
    margin: auto;
}
.licenciaStaCieJak{
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
}
.contenedoresDosStaCieJak{
    @extend %contendor;
    margin-top: 50px;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    &__hijo1{
        text-align: center;
      
    }
    &__hijo2{
        text-align: center;
        
    }

}

.pieDePaginaStaCieJak{
    margin-top: 50px;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 60% 10% 30%;
    justify-content: center;
    border:1px solid black;
    &__hijo1{
        border:1px solid greenyellow;
      .canvas1StaCieJak{
          border:2px solid red;
      }  
       
        
    }
    &__hijo2{
        border:1px solid blue;
      
        
    }
    &__hijo3{
        border:1px solid orange;
       
    }
}
